<!DOCTYPE html>
<html ng-app="httpApp" ng-controller="myCtrl" lang="en">
  <head>
    <meta charset="utf-8">
    <title>口水街成员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="../assets/ico/favicon.html">
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/alertify.css" rel="stylesheet">
    <link rel="Favicon Icon" href="../assets/ico/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="logo">
            <a href="../front/index.html"><img src="../assets/img/logo.png" alt="Realm Admin Template"></a>
          </div>
           <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
           <a class="btn btn-navbar slide_menu_left visible-tablet">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div ng-controller="logoutCtrl" class="top-menu visible-desktop">
            <ul class="pull-right">  
              <li><a ng-click="logout()"><i class="icon-off"></i>Logout</a></li>
            </ul>
          </div>

          <div class="top-menu visible-phone visible-tablet">
            <ul class="pull-right">  
              <li><a title="link to View all Messages page, no popover in phone view or tablet" href="#"><i class="icon-envelope"></i></a></li>
              <li><a title="link to View all Notifications page, no popover in phone view or tablet" href="#"><i class="icon-globe"></i></a></li>
              <li><a href="login.html"><i class="icon-off"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- Side menu -->  
      <div class="sidebar-nav nav-collapse collapse">
        <div class="user_side clearfix">
          <img src="../assets/img/odinn.jpg" alt="Odinn god of Thunder">
          <h5>{{userName}}</h5>
          <span style="color: white;">Welcome back</span>        
        </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_C3F7A7 collapsed" href="images.html"><i class="icon-picture"></i> <span>Images</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F5C294" href="../user/users.html"><i class="icon-user"></i> <span>Users</span></a>
            </div>
          </div>      
        </div>
      </div>
      <!-- /Side menu -->

      <!-- Main window -->
      <div class="main_container" id="users_page">

        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Pages</a> <span class="divider">/</span></li>
            <li class="active">Images</li>
          </ul>
          <h2 class="heading">
              	Images
              <div class="btn-group pull-right">
              	<h4>不管未来有多长久，珍惜相聚的每一刻</h4>
              </div>
          </h2>
        </div> <!-- /row-fluid -->

        <div ng-controller="imageCtrl" class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-group"></i>
              <h5>Images</h5>
              <div align="right" class="widget-buttons">
              		<span>类别:</span>
              		<input style="width: 100px;height: 20px" class="span3" type="text" ng-model="image.type" placeholder="type">
              		<span>图名:</span>
              		<input style="width: 100px;height: 20px" class="span3" type="text" ng-model="image.name" placeholder="name">
              		<span>标题:</span>
              		<input style="width: 100px;height: 20px" class="span3" type="text" ng-model="image.title" placeholder="title">
              		<span>创建者:</span>
              		<input style="width: 100px;height: 20px" class="span3" type="text" ng-model="image.creator" placeholder="creator">
             	  <button class="btn btn-success" ng-click="loadImages()">查询/刷新</button>
                  <a ng-click="addImage()" data-title="Add User" data-toggle="modal" data-target="#example_modal"><i class="icon-plus"></i></a>
                  <a href="#" data-title="Collapse" data-collapsed="false" class="collapse"><i class="icon-chevron-up"></i></a>
              </div>
            </div>  
            <div  class="widget-body">
              <table class="table table-striped table-bordered table-condensed">
                <thead align="center">
                  <tr align="center">
                    <th  width="30px">NO.</th>
                    <th>类别</th>
                    <th>图片名称</th>
                    <th>标题</th>
                    <th>说明</th>
                    <th>创建时间</th>
                    <th>创建者</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='image in images.list'>
					<td align="center">
						<label>{{$index + 1}}</label><br/>
					</td>
					<td align="center" width="60px">
						<label ng-bind="image.type"></label><br/>
					</td>
					<td align="center">
						<label ng-bind="image.name"></label><br/>
					</td>
					<td align="center">
						<label ng-bind="image.title"></label><br/>
					</td>
					<td align="center">
						<label ng-bind="image.memo"></label><br/>
					</td>
					<td align="center">
						<label ng-bind="image.createTime"></label><br/>
					</td>
					<td align="center" width="60px">
						<label ng-bind="image.creator"></label><br/>
					</td>
                    <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li><a ng-click="editImage(image)" data-title="Add User" data-toggle="modal" data-target="#example_modal"><i class="icon-edit"></i>Edit</a></li>
                          <li><a ng-click="deleteImage(image.id)"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div align="right">
              	   <a ng-click="previousPage()">上一页</a>
              	   <a ng-click="nextPage()">下一页</a>
	               <span>第</span>
	               <input type="text" style="width: 35px;height: 20px" ng-model="pageInfo.pageNum" value="1" ng-change="changeNum()">
	               <span>页</span>
	               <span>共{{images.pages}}页&nbsp;</span>
	              <span>每页</span>
	              <input type="text" style="width: 35px;height: 20px" ng-model="pageInfo.pageSize" value="10" ng-change="changeSize()">
	              <span>条</span>
	              <span>共{{images.total}}条数据</span>
	         </div>
            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div> <!-- /row-fluid -->
      </div>
      <!-- /Main window -->

    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->

    <!-- Example Modal -->
    <div ng-controller="imageEditCtrl">
	<div ng-if="editStatus != 0">
    <div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 align="center" id="myModalLabel">Add Images</h4>
	      </div>
		<form name="inputForm" ng-submit="saveImage(inputForm.$valid)" novalidate enctype="multipart/form-data" method="post">
		  <div align="center">
		  	<span style="color: red">{{msg}}</span>
		  </div>
		  <br>
		  <div class="control-group">
                <div align="center" class="controls">
                  <span class="help-inline">类别：
                  	<select ng-model="image.type">
                  		<option value="大家庭">大家庭</option>
                  		<option value="鞋照">鞋照</option>
                  		<option value="捞仔">捞仔</option>
                  		<option value="捞妹">捞妹</option>
                  	</select>
                  </span>
                </div>
              </div>
              
		  <div ng-if="editStatus == 1" class="control-group">
                <div align="center" class="controls">
                  <span class="help-inline">图片：
                  <input class="span3" id="imageFile" type="file" multiple="multiple">
                  </span>
                </div>
              </div>
              
		  <div class="control-group">
                <div align="center" class="controls">
                  <span class="help-inline">标题：
                  <input class="span3" type="text" ng-model="image.title" required placeholder="例如：捞仔">
                  </span>
                </div>
              </div>
              
		  <div class="control-group">
                <div align="center" class="controls">
                  <span class="help-inline">说明：
                  <input class="span3" type="text" name="nameInput" ng-model="image.memo" placeholder="memo">
                  </span>
                </div>
              </div>
              
               <div align="center" class="controls">
                 <span class="help-inline">创建者：
                 <input class="span3" type="text" ng-init="image.creator=userName" ng-model="image.creator" disabled="disabled">
                 </span>
               </div>
              
	      <div class="modal-footer">
	        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	        <button class="btn  btn-primary" type="submit" ng-disabled="inputForm.$invalid">Save</button>
	      </div>
              
       </form>
		</div>
	  </div>
    </div>  

    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../assets/js/raphael-min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="../assets/js/sparkline.js"></script>
    <script type="text/javascript" src="../assets/js/morris.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.dataTables.min.js"></script>   
    <script type="text/javascript" src="../assets/js/jquery.masonry.min.js"></script>   
    <script type="text/javascript" src="../assets/js/jquery.imagesloaded.min.js"></script>   
    <script type="text/javascript" src="../assets/js/jquery.facybox.js"></script>   
    <script type="text/javascript" src="../assets/js/jquery.alertify.min.js"></script> 
    <script type="text/javascript" src="../assets/js/jquery.knob.js"></script>
    <script type='text/javascript' src="../assets/js/fullcalendar.min.js"></script>
    <script type='text/javascript' src="../assets/js/jquery.gritter.min.js"></script>
    <script type="text/javascript" src="../assets/js/realm.js"></script>
    <script type="text/javascript" src="../assets/js/angular.js"></script>
    <script type="text/javascript" src="../js/image.js"></script>
  </body>
</html>
